
.witness {
  word-break: break-all;
}

.wrapper {
  display: flex;
  flex-direction: column;
  padding: 3rem;
  padding: 0;
}

.zkapp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 1.5rem 0;
  background-color: #ddd;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 0;
  flex-direction: column;
}

.content {
  width: 400px;
}

.leaf {
  padding-top: 18px;
}

.witness {
  padding-top: 18px;
}

.btnArea {
  padding-top: 18px;
}
