.wrapper {
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  /* align-items: center; */
  padding: 5rem;
  padding: 0;

  border: 1px solid black;
}

.zkapp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 6rem 0;
}

.main {
}
